* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --white: hsl(0, 0%, 98%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(0, 0%, 46%);
  --dark-green: hsl(159, 36%, 57%);
  --green: hsl(159, 36%, 57%);
  --light-green: hsl(158, 64%, 88%);

  --nav-height: 7.2rem;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--white);
  font-size: 1.6rem;
  font-family: 'DM Sans', sans-serif;
}
.nav-limits {
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 37.5rem;
  padding-inline: 2.4rem;
  overflow: hidden;
}
.wrapper {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 37.5rem;
  overflow: hidden;
}
h1,
h2 {
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 1.6rem;
}
p {
  color: var(--gray);
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: var(--black);
}
img {
  margin-bottom: 3.2rem;
}
li {
  list-style: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
.content {
  margin: 0 2rem;
  padding-block: 8rem;
}
.divider1 {
  background: 1px linear-gradient(270deg, var(--green), var(--light-green));
  width: 100%;
  height: 1px;
}
.divider2 {
  background: 1px linear-gradient(270deg, var(--light-green), var(--green));
  width: 100%;
  height: 1px;
}
.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.2rem;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1.5rem 3.2rem;
  border-radius: 0.4rem;
  gap: 1rem;
  cursor: pointer;
}

/*===nav===*/
nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  width: 100vw;
  z-index: 1000;
}
.nav-limits {
  width: 37.5rem;
}
body .menu {
  transform: translateY(100%);
  visibility: hidden;
}
body.menu-expanded nav {
  background: var(--green);
  transition: 300ms ease;
}
.close-menu,
.menu-expanded .open-menu {
  visibility: hidden;
}
body.menu-expanded .close-menu {
  visibility: visible;
}
body.menu-expanded svg path[fill*='#69B99D'],
nav#navigation.scroll svg path[fill*='#69B99D'] {
  fill: var(--white);
}
.menu {
  background: var(--green);
}
nav#navigation.scroll {
  background: var(--green);
  transition: 250ms ease;
}
body.menu-expanded .menu {
  transform: translateY(0);
  transition: transform 300ms ease;
  visibility: visible;
  position: fixed;
  left: 0;
  top: var(--nav-height);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.menu ul li {
  margin-bottom: 3rem;
}
.menu ul li a {
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
  transition: 170ms ease;
  padding-bottom: 0.5rem;
}
.menu li a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--primary);
  display: block;
  position: relative;
  bottom: -1rem;
  left: -0.5rem;
  transition: width 0.2s;
}
.menu ul li a:hover {
  color: var(--white);
  font-weight: 700;
  font-size: 2rem;
}
.menu .button {
  background: var(--green);
  color: var(--white);
  cursor: pointer;
  margin-bottom: 6.4rem;
  border: white 1px solid;
  transition: 300ms ease;
}
.menu .button:hover {
  background: var(--white);
  color: var(--green);
  cursor: pointer;
  margin-bottom: 6.4rem;
  border: white 1px solid;
  transform: scale(105%);
}
.menu .button:hover path {
  fill: var(--green);
}

/*===home===*/
#home {
  padding-block: calc(var(--nav-height) + 3.2rem) 4rem;
  text-align: center;
}
#home .content {
  justify-content: center;
  padding-top: 0;
}
#home h1 {
  color: var(--black);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 1.6rem;
}
#home p {
  line-height: 2.1rem;
  margin-bottom: 4.7rem;
}
#home img {
  position: relative;
  border-radius: 0.4rem;
  margin-left: -4rem;
  margin-block: 3.2rem;
  width: 34rem;
  box-shadow: 4rem -4rem var(--light-green);
}
#home .button {
  width: fit-content;
  padding: 1.5rem 3.2rem;
  background: var(--green);
  margin: auto;
  color: var(--white);
  cursor: pointer;
}

/*===about===*/
#about {
  padding-block: calc(var(--nav-height) + 2rem) 4rem;
}
#about .content {
  padding-top: 0;
}
#about h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
}
#about p {
  margin-bottom: 3rem;
  line-height: 2rem;
}
#about img {
  width: 100%;
  border-radius: 0.4rem;
  box-shadow: -10rem -2rem var(--light-green);
}

/*===services===*/
#services {
  padding-block: calc(var(--nav-height) + 2rem) 8rem;
}
#services .cards {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
#services .card {
  text-align: center;
  gap: 1.2rem;
  padding: 5.8rem 3.2rem;
  box-shadow: 0rem 0rem 1.2rem rgba(0, 0, 0, 0.08);
  border-bottom: 4px var(--dark-green) solid;
}
#services .card svg {
  margin-bottom: 1.2rem;
}
#services p {
  color: var(--black);
  line-height: 2.6rem;
  margin-bottom: 6.4rem;
}

/*===depositions===*/
#depositions {
  padding-block: calc(var(--nav-height) + 2rem) 8rem;
}
#depositions h2 {
  margin-bottom: 6.4rem;
}
#depositions .deposit {
  padding-inline: 2.4rem;
}
#depositions .avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
#depositions .avatar p {
  color: var(--gray);
  padding: 0;
}
#depositions p {
  color: var(--black);
  padding-bottom: 3.2rem;
}
#depositions img {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0;
}

/*===contact===*/
#contact {
  padding-block: calc(var(--nav-height) + 2rem) 4rem;
}
#contact .button {
  background: var(--green);
  color: var(--white);
  cursor: pointer;
  margin-bottom: 6.4rem;
}
#contact p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3.2rem;
}

/*===footer===*/
footer {
  width: 100%;
  background: var(--green);
  padding: 6.4rem 2.4rem 2rem 2.4rem;
}
footer svg {
  margin-bottom: 2.4rem;
}
footer p {
  color: var(--white);
  line-height: 2.1rem;
}
footer .text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

@media (min-width: 1024px) {
  /*===reset===*/
  .wrapper {
    height: initial;
    width: initial;
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    font-weight: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    text-align: initial;
    align-items: initial;
    justify-content: initial;
  }
  nav#navigation .button,
  nav#navigation .open-menu,
  nav#navigation .close-menu,
  nav#navigation .social-links {
    display: none;
  }
  body {
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
  }
  .wrapper {
    width: min(112rem, 100%);
  }
  section {
    display: grid;
    width: 100%;
  }
  .col-a {
    grid-area: A;
  }
  .col-b {
    grid-area: B;
  }

  /*===nav===*/
  nav#navigation {
    width: 100%;
    height: var(--nav-height);
  }
  nav#navigation .menu .social-links {
    display: none;
  }
  nav#navigation .nav-limits {
    width: 100%;
    height: 100%;
    margin-inline: 10rem;
  }
  nav#navigation .menu {
    visibility: visible;
    transform: initial;
    background: initial;
  }
  nav#navigation .menu ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3.2rem;
  }
  nav#navigation .menu ul li {
    margin: initial;
  }
  nav#navigation .menu ul li a {
    color: var(--black);
  }
  nav#navigation .menu ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--green);
    display: block;
    position: relative;
    bottom: -1rem;
    left: -0.5rem;
    transition: width 0.2s;
  }
  nav#navigation .menu ul li a:hover,
  nav#navigation .menu ul li a.active {
    color: var(--green);
    font-weight: 700;
    font-size: 2rem;
  }
  nav#navigation .menu ul li a:hover::after,
  nav#navigation .menu ul li a.active::after {
    padding-inline: 0.8rem;
    width: 100%;
  } 
  nav#navigation.scroll .menu ul li a {
    color: var(--black);
  }
  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }
  nav#navigation.scroll .menu ul li a:hover,
  nav#navigation.scroll .menu ul li a.active {
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
  }
  nav#navigation.scroll .menu ul li a:hover::after,
  nav#navigation.scroll .menu ul li a.active::after {
    padding-inline: 0.8rem;
    width: 100%;
  } 

  /*===home===*/
  section#home {
    width: 100%;
    margin-inline: auto;
    grid-template-columns: 40rem 1fr;
    grid-template-areas: 'B A';
  }
  section#home .content {
    text-align: left;
    width: 100%;
    margin-left: 7rem;
  }
  section#home .content .button {
    margin: 0;
  }
  section#home .col-a {
    align-self: center;
  }
  section#home .col-b {
    align-self: center;
  }
  section#home .col-a img {
    width: 50rem;
    box-shadow: 9rem -6rem var(--light-green);
  }
  section#home .divider1 {
    width: 100vw;
  }

  /*===about===*/
  section#about {
    width: 100%;
    margin-inline: auto;
    grid-template-columns: 50rem 1fr;
    grid-template-areas: 'A B';
  }
  section#about .divider2 {
    width: 100vw;
  }

  /*===services*/
  section#services {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }
  section#services .content {
    display: flex;
    flex-direction: column;
    padding: initial;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  section#services .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }
  section#services .card {
    width: 35.2rem;
    height: 35.2rem;
  }
  section#services .text-ser {
    width: 53rem;
  }

  /*===depositions===*/
  section#depositions .content {
    padding: initial;
  }
  /*===contact===*/
  section#contact {
    width: 100%;
    margin-inline: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }
  section#contact .col-a {
    align-self: center;
    padding-inline: 13rem;
  }
  section#contact .col-b {
    align-self: center;
    padding-inline: 13rem;
  }
  /*===footer===*/
  footer {
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'A B';
  }
  footer .col-a {
    align-self: center;
    padding-inline: 13rem;
  }
  footer .col-b {
    align-self: center;
    text-align: right;
    padding-inline: 13rem;
  }
}
